contourpy==1.2.1
cycler==0.12.1
Faker==25.9.1
flake8==7.1.0
fonttools==4.53.0
kiwisolver==1.4.5
matplotlib==3.9.0
mccabe==0.7.0
networkx==3.3
numpy==2.0.0
packaging==24.1gi
pandas==2.2.2
pillow==10.3.0
psycopg2==2.9.9
pycodestyle==2.12.0
pyflakes==3.2.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
pytz==2024.1
six==1.16.0
SQLAlchemy==2.0.31
typing_extensions==4.12.2
tzdata==2024.1
